[submodule "skills/copilot-second-opinion-repo"]
	path = skills/copilot-second-opinion-repo
	url = https://github.com/Adamkadaban/copilot-second-opinion.git
[submodule "skills/research-fetch"]
	path = skills/research-fetch
	url = https://github.com/Adamkadaban/research-fetch-skill.git
[submodule "skills/_trailofbits"]
	path = skills/_trailofbits
	url = https://github.com/trailofbits/skills.git
[submodule "skills/_iothackbot"]
	path = skills/_iothackbot
	url = https://github.com/BrownFineSecurity/iothackbot.git
